.wrapper_mediaplayer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#5532D2 25%, #2C1A6C 75%);

}

.container_medialplayer{
    min-width: 340px;
    width: 95%;
    height: 50%;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
    background: radial-gradient(#5532D2 25%, #2C1A6C 75%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.74);
}

.content_logo_desc_medialplayer{
    width: 20%;
    min-width: 340px;
    height: 100%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.content_medialplayer{
    width: 54%;
    min-width: 340px;
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}
.medialplayer{
    width: 98%;
    height: 98%;
    
}
.content_add_video_mediaplayer{
    width: 100%;

    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.input_add_video_medialplay{
    width: 40%;
}
.main_player{
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 7px;
}
.content_progress_main_player{
    width: 80%;
    height: 20px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.progress_bar_main_player{
    width: 100%;
    height: 7px;
    background-color: #202020;
    position: relative;
    display: flex;
    align-items: center;
}
.progress_circle_main_player{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #202020;
    position: absolute;
    left: 12px;

}
.actual_time_main_player {
    position: absolute;
    top: 100%; /* justo debajo del botón */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px; /* un poquito de separación */
    font-family: sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
.end_time_main_player {
    position: absolute;
    top: 100%; /* justo debajo del botón */
    left: 100%;
    transform: translateX(-50%);
    margin-top: 5px; /* un poquito de separación */
    font-family: sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
.buttons_main_player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* separación entre botones */
  background: none; /* sin fondo */
}

.buttons_main_player div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222; /* círculo negro */
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.buttons_main_player div:hover {
  transform: scale(1.1);
}

.button_previus_main_player,
.button_next_main_player {
  width: 60px;
  height: 60px;
}

.button_start_pause_main_player {
  width: 80px;
  height: 80px; /* más grande */
}

.buttons_main_player svg {
  fill: white;
  width: 35px;
  height: 35px;
}

.icon_main_player{
    width: 200px;
    height: 200px;
    background-position: center;

    background: url('./../../../../public/default.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     
}
.title_main_player{
    font-weight: bold;
    color: #202020;
    height: 26px;
}
.contentainer_list_medialplayer{
    width: 24%;
    min-width: 340px;
    height: 100%;

}
.content_list_medialplayer{
    color: #FFFFFF;
    background-color: #202020;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}
.content_list_row_medialplayer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}
.content_logo_medialplayer{
    border-radius: 15px;
    filter: drop-shadow(0 0.8mm 1mm lightslategrey);
    background-image: url(./../../../../public/musicstarter.svg);
    background-position: center;
    background-size: cover;
    min-width: 80px;
    min-height: 80px;
}
.content_desc_medialplayer{
    width: 52%;
    text-align: -webkit-center;
    background: radial-gradient(#5532D2 25%, #2C1A6C 75%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.74);
    color: #FFFFFF;
}

.list_row_medialplayer{
    width: 96%;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 6px;
    border-radius: 7px;
}
.list_row_medialplayer_focused{
    background-color: #4C4747;

}
.icon_row_medialplayer{
    width: 157px;
    min-height: 60px;

    background-position: center;

    background: url('https://i.ytimg.com/vi/PmFUN3q7DBM/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLD-xtTcwr-8FGX11FS9Gg4htHXP9Q');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     

    border-radius: 5px;

}
.content_title_duration_row_mediaplayer{
    background-color: #9B89B5;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.title_row_medialplayer{
    width: 100%;
    height: 73%;

    text-align: start;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}
.duration_row_medialplayer{
    width: 100%;
    height: 27%;

    text-align: end;
    vertical-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}

