
<div class="wrapper_main">
    <div class="wrapper_login">
        <h1>Inicio de sesion</h1>
        <form action="" method="post" class="form_login">
            <input type="email" name="email" id="email_login" placeholder="email">
            <input type="password" name="passwd" id="password_login" placeholder="contraseña">
            <button type="submit">enviar</button>
        </form>
        <button type="button" (click)="login_temporal_user()">iniciar con usuario temporal</button>
    </div>
</div>
