/* You can add global styles to this file, and also import other style files */
html, body{
    width: 100%;
    height: 100%;
}
.wrapper_main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.error_message{
    color: red;
    text-align: center;
}